/*instock*/
.wapinfo-instock{
    margin: 10px 0;
}
.wapinfo-instock.wapinfo-instock-style-2{
    padding: 0;
    width: 100%;
    position: relative;
    height: 15px;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #000;
    overflow: hidden;
    box-sizing: border-box;
    display: inline-block;
}
#wapinfo-warningGradientOuterBarG.wapinfo-instock-bg{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    border: none;
}
.wapinfo-instock-style-2 .wapinfo-instock-show{
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    line-height: 10px;
}
/*loading*/
#wapinfo-warningGradientOuterBarG{
    height:19px;
    width:156px;
    border:1px solid rgb(0,0,0);
    overflow:hidden;
    background-color:rgb(255,255,255);
    margin:auto;
    background: gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(0,0,0)));
    background: -o-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(0,0,0)));
    background: -ms-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(0,0,0)));
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(0,0,0)));
    background: -moz-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(0,0,0)));
    background: linear-gradient(top, rgb(255,255,255), rgb(0,0,0));
    background: -o-linear-gradient(top, rgb(255,255,255), rgb(0,0,0));
    background: -ms-linear-gradient(top, rgb(255,255,255), rgb(0,0,0));
    background: -webkit-linear-gradient(top, rgb(255,255,255), rgb(0,0,0));
    background: -moz-linear-gradient(top, rgb(255,255,255), rgb(0,0,0));
}

.wapinfo-warningGradientBarLineG{
    background-color:rgb(255,255,255);
    float:left;
    width:14px;
    height:117px;
    margin-right:23px;
    margin-top:-27px;
    transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
}

.wapinfo-warningGradientAnimationG{
    width:230px;
    animation-name:wapinfo-warningGradientAnimationG;
    -o-animation-name:wapinfo-warningGradientAnimationG;
    -ms-animation-name:wapinfo-warningGradientAnimationG;
    -webkit-animation-name:wapinfo-warningGradientAnimationG;
    -moz-animation-name:wapinfo-warningGradientAnimationG;
    animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
    animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
    animation-timing-function:linear;
    -o-animation-timing-function:linear;
    -ms-animation-timing-function:linear;
    -webkit-animation-timing-function:linear;
    -moz-animation-timing-function:linear;
}



@keyframes wapinfo-warningGradientAnimationG{
    0%{
        margin-left:0;
    }

    100%{
        margin-left:-37px;
    }
}

@-o-keyframes wapinfo-warningGradientAnimationG{
    0%{
        margin-left:0;
    }

    100%{
        margin-left:-37px;
    }
}

@-ms-keyframes wapinfo-warningGradientAnimationG{
    0%{
        margin-left:0;
    }

    100%{
        margin-left:-37px;
    }
}

@-webkit-keyframes wapinfo-warningGradientAnimationG{
    0%{
        margin-left:0;
    }

    100%{
        margin-left:-37px;
    }
}

@-moz-keyframes wapinfo-warningGradientAnimationG{
    0%{
        margin-left:0;
    }

    100%{
        margin-left:-37px;
    }
}

.wapinfo-instock-style-3 .wapinfo-instock-bg .wapinfo-instock-fill{
    height: inherit;
    background: red;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}
.wapinfo-instock-style-3 .wapinfo-instock-bg{
    width: 100%;
    background: #e3e3e3;
    height: 10px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
